<div class="list_work" *ngFor="let stage of data_gd">
    <div class="flex">
        <i class="bi bi-caret-right-fill"></i>
        <b class="text-base mr-2">Giai đoạn {{stage['__sttGiaidoan']}} : {{stage.ten_giaidoan}}</b>
        <div class="ml-auto">
            <span>
                <i class="pi pi pi-check-square">
                    <span class="ml-2">{{stage['count_trangthai']}}/</span>
                    <span>{{stage['count_giaidoan']}}</span>
                </i>
                <button pButton icon="pi pi-ellipsis-h text-color" mat-button [matMenuTriggerFor]="selectGiaiDoan"
                    class="border-0 bg-transparent  my-0  p-1"></button>
                <mat-menu #selectGiaiDoan="matMenu" xPosition="before">
                    <button mat-menu-item (click)="btnAddCTGD(stage.id)">
                        <mat-icon>add</mat-icon>
                        <span>Thêm công việc</span>
                    </button>
                    <button mat-menu-item (click)="btnEditGiaiDoan(stage)">
                        <mat-icon>edit</mat-icon>
                        <span>Sửa giai đoạn công việc</span>
                    </button>
                    <button mat-menu-item (click)="delete_GD(stage)">
                        <mat-icon>delete</mat-icon>
                        Xoá
                    </button>
                </mat-menu>
            </span>
        </div>
    </div>
    <div class="w-auto">
        <ng-container *ngIf="stage['data_chitietgiaidoan']">
            <div *ngFor="let i of stage['data_chitietgiaidoan']">
                <label class="mb-0 pl-5 py-2 d-flex gap-3 checklist-item">
                    <input class="form-check-input flex-shrink-0" type="checkbox" value=""
                        [disabled]="i['disabled_tbn']" [(ngModel)]="i['checked']" style="font-size: 1.375em;"
                        (change)="markCompleted(i)">
                    <span class="checklist-item-details-text">{{i['chi_tiet_giai_doan']}}</span>
                    <span class="ml-auto">
                        <span [ngClass]="i['bg_trangthai']">{{i['label_trangthai']}}</span>
                        <span [ngClass]="i['bg_ngayhethan']">{{i['label_ngayhethan']}}</span>
                        <i class="pi pi-clock p-1 font-semibold"></i>
                        {{i['ngay_hethan']| date:"dd/MM/yyyy"}}
                        <span class="checklist-item-due hiden-button ml-2">
                            <button class="btn-control" type="button" (click)="delete_CTGD(i)">
                                <i class="pi pi-times text-lg text-red-500"></i>
                            </button>
                        </span>
                    </span>
                </label>
            </div>
        </ng-container>
    </div>
</div>
<div class="add_list_work flex mt-3">
    <a class="text-base ml-auto" (click)="btnAddGiaiDoan()" (click)="addStage.toggle($event)"><i
            class="pi pi-plus"></i>Thêm giai đoạn</a>
    <ng-container>
        <p-overlayPanel #addStage>
            <div class="card-composer">
                <form action="" [formGroup]="formData">
                    <div class="list-card-composer">
                        <span class="p-float-label">
                            <textarea id="float-input" rows="3" cols="40" pInputTextarea formControlName="ten_giaidoan"
                                placeholder="Nhập tiêu đề cho thẻ này..."></textarea>
                        </span>
                        <!-- <div class="mb-3 inline-block text-xl w-100"> -->
                        <!-- <label class="form-label">Ngày bắt đầu</label>
                            <input id="input_Formedit" class="form-control" type="date" formControlName="ngay_hethan"> -->
                        <!-- <label class="form-label">Ngày kết thúc</label>
                            <br>
                            <input id="input_Formedit" class="form-control" type="date" formControlName="ngay_hethan"> -->
                        <!-- </div> -->
                    </div>
                </form>
                <div class="card-composer-controls">
                    <button class="bg-blue-500 border-0 text-white mr-2" type="button" (click)="updateForm()">Thêm thẻ
                    </button>
                    <span class="icon_close" (click)="addStage.toggle($event)">
                        <i class="pi pi-times text-xl"></i>
                    </span>
                </div>
            </div>
        </p-overlayPanel>
    </ng-container>
</div>

<ng-template #formChitietgd let-c="close">
    <div class="model-header container mt-3">
        <h4 class="modal-title">{{formState_chitietgd.formTitle}}</h4>
    </div>
    <div class="modal-body ovic-modal-body">
        <form action="" [formGroup]="formData_chitietgd">
            <div class="row">
                <div class="col-xl-12">
                    <div class="mb-3 mt-3 mt-xl-0">
                        <label for="projectname" class="form-label text-xl">Tên công việc</label>
                        <textarea class="form-control capitalize" id="project-overview" rows="5"
                            placeholder="Nhập tên công việc....." formControlName="chi_tiet_giai_doan"></textarea>
                    </div>
                    <div class="mb-3 inline-block text-xl w-100">
                        <!-- <label class="form-label">Ngày bắt đầu</label>
                            <input id="input_Formedit" class="form-control" type="date" formControlName="ngay_hethan"> -->
                        <label class="form-label">Ngày kết thúc</label>
                        <br>
                        <input id="input_Formedit" class="form-control" type="date" formControlName="ngay_hethan">
                    </div>
                </div>
            </div>
            <div class="flex mt-2">
                <button (click)="updateFormChiTiet()" [disabled]="formData_chitietgd.invalid" pButton pRipple
                    class=" mr-2 max-w-10rem p-button-success" icon="pi pi-save" label="Xác nhận"></button>
                <button pRipple pButton type="button" class="p-button p-button-danger" icon="pi pi-times"
                    (click)="btnCancelGiaiDoan()"></button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #formGd let-c="close">
    <div class="model-header container mt-3">
        <h4 class="modal-title">{{formState.formTitle}}</h4>
    </div>
    <div class="modal-body ovic-modal-body">
        <form action="" [formGroup]="formData">
            <div class="row">
                <div class="col-xl-12">
                    <div class="mb-3 mt-3 mt-xl-0">
                        <label for="projectname" class="form-label text-xl">Tên công việc</label>
                        <textarea class="form-control capitalize" id="project-overview" rows="5"
                            placeholder="Nhập tên công việc....." formControlName="ten_giaidoan"></textarea>
                    </div>
                </div>
            </div>
            <div class="flex mt-2">
                <button (click)="updateForm()" [disabled]="formData.invalid" pButton pRipple
                    class=" mr-2 max-w-10rem p-button-success" icon="pi pi-save" label="Xác nhận"></button>
                <button pRipple pButton type="button" class="p-button p-button-danger" icon="pi pi-times"
                    (click)="btnCancelCTGD()"></button>
            </div>
        </form>
    </div>
</ng-template>